.main-container{
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
    background-color: rgba(0,0,0,0.1);
    padding-bottom: 40px;
}

.contact-container{
    display: flex;
    justify-content: center;
} 

.form-container>form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:800px;}